# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/

# Environment files
.env
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*.swp

# IDE/editor folders and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: logs
logs
*.log

# Optional: coverage reports
coverage/

# Project constructor pictures
Pages pictures/